<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				View <small>: {{view.title}}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/View</a></li>
				<li class="active">{{view.title}}</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-8">
			<hr>
			<div class="resultsDisplay" ng-bind-html="view.description"></div>
			<hr>
		</div>
		<!--End Column col-lg-8-->

		<div class="col-lg-4">

			<div class="well">
				<h4>Brief description for view</h4>
				<p>One brief description of all views should come here.</p>
			</div>
			<!-- /well -->

			<div class="well">
				<p>
					<i class="fa fa-clock-o"></i> Last Modified on <b><span
						ng-bind="view.dateLastModified | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
				</p>
				<p>
					<i class="fa fa-clock-o"></i> Created on <b><span
						ng-bind="view.dateCreated | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
				</p>
				<a class="btn btn-xs btn-primary" href="#/views/{{view.id}}">Modify
					<i class="fa fa-angle-right"></i>
				</a> <a class="btn btn-xs btn-primary" href="#/views-list">Back to
					list <i class="fa fa-angle-right"></i>
				</a>
			</div>
			<!-- /well -->

			<div class="well">

				<h4>
					Related Groups <a class="btn btn-xs btn-primary"
						ng-click="fetchGroupList()"><i class="fa fa-plus">Add</i></a>
				</h4>

				<div
					ng-repeat="group in (filteredGroupItems=(groupsList| filter:filterAlreadyAddedGroup))">
					<input type='checkbox' value="{{group}}" check-list="checked_group">
					{{group.title}} &nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<a class="btn btn-xs btn-primary"
					ng-click="saveGroupViewRelationList()"
					ng-if="filteredGroupItems.length>0">Save</a> <a
					class="btn btn-xs btn-primary"
					ng-click="resetGroupsAndShowGroupViewRelations()"
					ng-if="filteredGroupItems.length>0">Cancel</a>

				<div ng-repeat="groupViewRelation in groupViewRelationList">
					<a href="#/groups-list/{{groupViewRelation.groups.id}}">{{groupViewRelation.groups.title}}</a>
					<!-- <a class="btn btn-xs btn-primary" href="#">Remove<i
						class="fa fa-minus"></i></a> -->
				</div>


				<!-- <h4>Related Groups</h4> 
            	<br/><a href="">grp 1</a>
            	<br/><a href="">grp 2</a> -->
			</div>
			<!-- /well -->

			<div class="well">
				<h4>Related Views</h4>
				<br /> <a href="">view 1</a> <br /> <a href="">view 2</a>
			</div>
			<!-- /well -->

			<div class="well">
				<h4>Related Topics</h4>
				<br /> <a href="">topic 1</a> <br /> <a href="">topic 2</a>
			</div>
			<!-- /well -->

		</div>
		<!--End Column col-lg-4-->
	</div>
	<!--End Row-->

</div>