<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Task <small>: Master Configration</small>
				
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Task</a></li>
				<li class="active">Master Configration</li>
			</ol>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<hr>
			<span>Add/Update/Activate/Deactivate <b>Environment</b> values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
			
			
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Frequency</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
			 
			 
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Activity Type</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
			 
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Box</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>	
			 
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Sequence</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
			 
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Status</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
			 
			<hr>			
			<span>Add/Update/Activate/Deactivate <b>Task Priority Group</b>  values ,
			 shown to be in combobox, with status active/inactive. Only Active values can be shown at create/update task page</span>
					
			<hr>
			
		</div>
		<!--End Column col-lg-8-->
		
	</div>
	<!--End Row-->

</div>