<div class="row">
    <pre>
        Current major responsibility for Development in "Online Shopping Cart Application" application. Technologies used are java, JSP, Servlets, JDBC, Apache tomcat 5, HTML, CSS, jQuery, AJAX

Current Role and Responsibilities

Fixed bugs identified by support team
created views using using HTML, CSS, jQuery, AJAX
Technologies used:-
java, JSP, Servlets, JDBC, Apache tomcat 5, HTML, CSS, jQuery, AJAX
Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced the number of incidents.
    </pre>
</div>