<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Specialists');"></div>
            <div class="carousel-caption">
                <h1>Reduce costs of finishing operations by 65%</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Wordlwide');"></div>
            <div class="carousel-caption">
                <h1>International Buyer Financing Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Since 1910');"></div>
            <div class="carousel-caption">
                <h1>Family Owned for Four Generations</h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="icon/Stavya-Para-Paroktih-Grp-logo.png">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Welcome to our Web Application. We have following facilities.</h2>
                <ul>
                    <li>Topic Management</li>
                    <li>Interview Management</li>
                    <li>Link Management</li>
                    <li>Word Meaning Management</li>
                    <li>Task Management</li>
                    <li>Dynamic Queries</li>
                    <li>Click Counter</li>
                    <li>File Search</li>
                    <li>Event & Event-Group Logging</li>
                    <li>And obviously Global Settings!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-book"></i> Topic Management</h3>
                    </div>

                    <div class="panel-body">
                        <p>Many times we encounter issues in doing assigned tasks. Then we search on Search engine for
                            solution. And most of the time we get answer.</p>
                        <p>However after few days, we face similar issue, when again above operation to be performed.
                        </p>
                        <p>To store topics ,we can use this section to categorize tutorials in
                        <ul>
                            <li>Topics</li>
                            <li>Groups</li>
                            <li>Views</li>
                        </ul>
                        </p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/topics-home"><b> Topic MGMT </b>- Home Page</a>
                            </li>
                            <li><a href="#/topics-list"><b> Topic MGMT </b>- List of Topics-list</a>
                            </li>
                            <li><a href="#/topics"><b> Topic MGMT </b>- Single List Topics</a>
                            </li>

                            <li><a href="#/groups-list"><b> Topic MGMT </b>- List of Groups-list</a>
                            </li>

                            <li><a href="#/views-list"><b> Topic MGMT </b>- List of Views-list</a>
                            </li>

                            <li><a href="#/site-updates"><b> Topic MGMT </b>- Topic Site Updates</a>
                            </li>
                            <li><a href="#/multipleSectionController"><b> Topic MGMT </b>- Multiple Section
                                    Controller</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-pencil"></i> Interview Management</h3>
                    </div>

                    <div class="panel-body">
                        <p>Interview Management project is built to store and categorize Questions and Answers.
                            Categorization is done in <b>Category</b> </p>

                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/"><b> Interview MGMT </b>- Home Page</a>
                            </li>
                            <li><a href="#/questions-single-view"><b> Interview MGMT </b>- All Questions in one page</a>
                            </li>
                            <li><a href="#/categories-list"><b> Interview MGMT </b>- List of Category-list</a>
                            <li><a href="#/groups-list"><b> Interview MGMT </b>- List of Groups-list</a>
                            </li>
                            <li><a href="#/views-list"><b> Interview MGMT </b>- List of Views-list</a>
                            </li>
                            <li><a href="#/question-report"><b> Interview MGMT </b>- All Questions</a>
                            </li>
                            <li><a href="#/site-updates"><b> Interview MGMT </b>- Topic Site Updates</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-anchor"></i> Link Management</h3>
                    </div>

                    <div class="panel-body">
                        <p>To store remembrable web links and group them into <b>link-groups</b></p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/links"><b> Link MGMT </b>- List of Links</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-asl-interpreting"></i> Word Meaning Management</h3>
                    </div>

                    <div class="panel-body">
                        <p>To store word meaning. Read them. Mark all read words in reports</p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/word-mgmt"><b> Word Meaning Management </b>- All Words</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-calendar-check-o"></i> Task Management</h3>
                    </div>

                    <div class="panel-body">
                        <p>In our daily life, we want to do few tasks, which could enhance our knowledge, skills, public
                            relations. But after one or two days efforts we either forget what to do next, or be
                            involved in some other priority.</p>
                        <p>This application is to store tasks. We can further track them easily in same place!</p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/tasks-list"><b> Tasks </b>- Show Tasks</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-database"></i> Dynamic Query</h3>
                    </div>

                    <div class="panel-body">
                        <p>Many times we write some good queries, but due to lack of proper saving them, we do not
                            recall them in future. This application is to store these queries.</p>
                        <p>These queries stored can be run from same place.</p>
                        <p>In future we can create our generic DB-Services, so that we will not need to create seperate
                            Backend-API projects to handle - <b>DML/CURD</b>- operations</p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/dynamic-query"><b> Dynamic Query </b>- Execute</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-calculator"></i> Click Counter</h3>
                    </div>

                    <div class="panel-body">
                        <p>This simple project just counts how many times it had been clicked. This is online
                            alternative for <b>Rudraksh</b></p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="../bce-gui/partials/click-counter/clickCounter.html"><b> Click Counter </b>-
                                    Home Page</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-folder-open"></i> File Search</h3>
                    </div>

                    <div class="panel-body">
                        <p>Search various extension files in same page. Also most of them can be open in pop-up
                            configured in application</a>!</p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="../bce-gui/partials/file-search/index.html"><b> File Search </b>- Home Page</a>
                            </li>
                            <li><a
                                    href="../bce-gui/partials/file-search/fileSearchWithBootstrapWithMultipleSearchBoxGroupByNames.html"><b>
                                        File Search </b>- Frequently used</a></li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-calendar-plus-o"></i> Event & Event-Group Logging</h3>
                    </div>

                    <div class="panel-body">
                        <p>[TBD] This project is to store events-logs in an event-group. Further event-log can have its
                            history. </p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/"><b> Event & Event-Group Logging </b>- Home Page</a>
                            </li>
                            <li><a href="#/event-group-mgmt"><b> Event & Event-Group Logging </b>-All Event Groups</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-object-group"></i> Reports</h3>
                    </div>

                    <div class="panel-body">
                        <p>[TBD] This project is to show reports. </p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/"><b> Reports </b>- Home Page</a>
                            </li>
                            <li><a href="#/reports/word-mgmt"><b> Reports </b>- Word Meaning</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-cubes"></i> Support Activities</h3>
                    </div>

                    <div class="panel-body">
                        <p>These are activities needed
                        <ul>
                            <li>DB Backup - Export & Import</li>
                            <li>Log - Generation, Monitoring and Analysis</li>
                        </ul>
                        </p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/"><b> Support Activities </b>- Home Page</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->

            <div class="col-lg-4 col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-cogs"></i> Global Settings</h3>
                    </div>

                    <div class="panel-body">
                        <p>All application setting-pages to be created in this section.</p>
                        <p>
                            <b>Below are Main Pages</b>
                        <ul>
                            <li><a href="#/global-settings"><b> Global Settings </b>- For All pages</a>
                            </li>
                        </ul>
                        </p>
                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->


        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<hr>



<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
                <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is
                    built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with
                    latest Bootstrap documentation!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
                <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom
                    stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or
                    come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap
                        customizer</a>!</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
                <p>This template features many common pages that you might see on a business website. Pages include:
                    about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose
                    pages.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Modern Business: A Clean &amp; Simple Full Website Template by Start Bootstrap</h2>
                <p>A complete website design featuring various single page templates from Start Bootstraps library of
                    free HTML starter templates.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Display Some Work on the Home Page Portfolio</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Modern Business Features Include:</h2>
                <ul>
                    <li>Bootstrap 3 Framework</li>
                    <li>Mobile Responsive Design</li>
                    <li>Predefined File Paths</li>
                    <li>Working PHP Contact Page</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Unstyled: Add Your Own Style and Content!</li>
                    <li>Font-Awesome fonts come pre-installed!</li>
                    <li>100% <strong>Free</strong> to Use</li>
                    <li>Open Source: Use for any project, private or commercial!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>'Modern Business' is a ready-to-use, Bootstrap 3 updated, multi-purpose HTML theme!</h4>
            <p>For more templates and more page options that you can integrate into this website template, visit Start
                Bootstrap!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->