table#dynamic-query-table ,table#dynamic-query-table th,table#dynamic-query-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

table#dynamic-query-table tr:nth-child(odd) {
	background-color: #82E0AA;
}

table#dynamic-query-table table tr:nth-child(even) {
	background-color: #2ECC71;
}