<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <i class="fa fa-calendar-plus-o fa-4x"></i>
            <h1 class="page-header">
                Event & Event-Group Logging <small>: Home</small>
                <!-- <span star-rating rating-value="topic.rating"
				edit-star-rating="false" max="maxRatingValue"></span> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="">Home/Event & Event-Group Logging</a></li>
                <li class="active">Home</li>
            </ol>
        </div>
    </div>
</div>
<!-- /.header-section -->
<!-- <div class="container well" ng-controller="eventGroupMgmtController">
    <div ng-include="'partials/event-group-mgmt/template/eventGroupMgmt-template.html'"></div>
</div> -->

<div class="container well" ng-controller="labelController">
    <div ng-include="'partials/event-group-mgmt/template/label-template.html'">
    </div>
</div>

<div class="container well" ng-controller="eventController">
    <div ng-include="'partials/event-group-mgmt/template/event-template.html'">
    </div>
</div>