<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <img class="navbar-brand" src="icon/Stavya-Para-Paroktih-Grp-logo.png"
                alt="Stavya-Para-Paroktih-Grp-logo" />
            <a class="navbar-brand" href="#/">@@@@</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/services">Services</a>
                </li>
                <!-- <li><a href="#/pricing">Pricing Table</a>
                </li>
                <li><a href="#/about">About</a>
                </li>
                <li><a href="#/faq">FAQ</a>
                </li>
                <li><a href="#/contact">Contact</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/blog">List of Posts</a>
                        </li>
                        <li><a href="#/blog/post">View One Post</a>
                        </li>
                    </ul>
                </li> -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Reports Links<b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="#/reports/word-mgmt"><b> Word Meaning </b>- Reports</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">All Application Links<b class="caret"></b></a>
                    <ul class="dropdown-menu">



                        <li><a href="#/links"><b> Link MGMT </b>- List of Links</a>
                        </li>

                        <li><a href="#/vocabulary"><b> Vocabulary </b>- List of Words</a>
                        </li>

                        <!-- <li><a href="#/questions-single-view"><b> Interview MGMT </b>- All Questions in one page</a>
                        </li>
						<li><a href="#/categories-list"><b> Interview MGMT </b>- List of Category-list</a>                        
                        <li><a href="#/groups-list"><b> Interview MGMT </b>- List of Groups-list</a>
                        </li>                        
                        <li><a href="#/views-list"><b> Interview MGMT </b>- List of Views-list</a>
                        </li>                         -->
                        <li><a href="#/question-report"><b> Interview MGMT </b>- All Questions</a>
                        </li>
                        <!-- <li><a href="#/site-updates"><b> Interview MGMT </b>- Topic Site Updates</a>
                        </li> -->

                        <!-- <li><a href="#/topics-list"><b> Topic MGMT </b>- List of Topics-list</a>
                        </li> -->
                        <li><a href="#/topics"><b> Topic MGMT </b>- Single List Topics</a>
                        </li>

                        <!-- <li><a href="#/groups-list"><b> Topic MGMT </b>- List of Groups-list</a>
                        </li>
						
                        <li><a href="#/views-list"><b> Topic MGMT </b>- List of Views-list</a>
                        </li>                        
						
                        <li><a href="#/site-updates"><b> Topic MGMT </b>- Topic Site Updates</a>
                        </li>
                        <li><a href="#/multipleSectionController"><b> Topic MGMT </b>- Multiple Section Controller</a>
                        </li> -->

                        <!-- <li><a href="#/tasks/new"><b> Tasks </b>- Create new task</a>
                        </li> -->
                        <li><a href="#/tasks-list"><b> Tasks </b>- Show Tasks</a>
                        </li>

                        <li><a href="#/word-mgmt"><b> Words </b>- All Words</a>
                        </li>

                        <li><a href="#/dynamic-query"><b> Dynamic Query </b>- Execute</a>
                        </li>

                        <!-- dynamic-query -->



                        <li><a href="../bce-gui/partials/click-counter/clickCounter.html"><b> Click Counter </b>- Click
                                Counter</a>
                        </li>

                        <li><a href="../bce-gui/partials/file-search/index.html"><b> File Search </b></a>
                        </li>

                        <li><a href="#/my-resume"><b> About Me </b>- My Resume</a>
                        </li>

                        <li><a href="#/event-group-mgmt">
                            <b> Event & Event-Group Logging </b>- All Event Groups</a>
                        </a></li>

                        <li><a href="#/global-settings"><b> Global Settings </b>- For All pages</a>
                        </li>

                        <!-- <li><a href="#/links/link">Create Link</a>
                        </li> -->
                        <!-- <li><a href="#/links/:id">Update Link</a>
                        </li> -->
                        <!-- <li><a href="#/links/group">Create Group</a>
                        </li> -->

                    </ul>
                </li>

                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Vocabulary <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
                        <li><a href="#/vocabulary/new">Add word</a>
                        </li>
						<li><a href="#/vocabulary/:id">Update Word</a>
                        </li>	
                        <li><a href="#/vocabulary/export">Export Word</a>
                        </li>
                        <li><a href="#/vocabulary/import">Import Word</a>
                        </li>					
                    </ul>
                </li> -->

                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"> Interview MGMT - <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/questions-single-view">All Questions in one page</a>
                        </li>
						<li><a href="#/categories-list">List of Category-list</a>                        
                        <li><a href="#/groups-list">List of Groups-list</a>
                        </li>                        
                        <li><a href="#/views-list">List of Views-list</a>
                        </li>                        
						<li><a href="#/question-report">All Questions</a>
                        </li>
                        <li><a href="#/site-updates">Topic Site Updates</a>
                        </li>
						
                    </ul>
                </li> -->

                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b> Topic MGMT </b>- <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        
						<li><a href="#/topics-list">List of Topics-list</a>
                        </li>
                        <li><a href="#/topics">Single List Topics</a>
                        </li>
						
                        <li><a href="#/groups-list">List of Groups-list</a>
                        </li>
						
                        <li><a href="#/views-list">List of Views-list</a>
                        </li>                        
						
                        <li><a href="#/site-updates">Topic Site Updates</a>
                        </li>
                        <li><a href="#/multipleSectionController">Multiple Section Controller</a>
                        </li>
						
                    </ul>
                </li> -->

                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><b> Tasks </b>- <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/tasks/new">Create new task</a>
                        </li>                        
						<li><a href="#/tasks-list">Show Tasks</a>
                        </li>						
                    </ul>
                </li> -->

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>