<div class="row">
    <div id="idDivEventGroupList" class="col-lg-4">
        <h2><b>Event Groups</b></h2>
        <a style="margin-bottom: 10px;" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-plus"></span>
            Add</a>

        <ul class="list-group list-group-scrolling">
            <li ng-repeat="eventGroupItem in eventGroupListItems | orderBy: 'date'"
                class="list-group-item text-center clearfix">
                <span style="font-weight: bold">{{eventGroupItem.name | uppercase}}</span>
                <a href="#/addItem/edit/{{eventGroupItem.id}}" class="btn btn-sm btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.idDivEventGroupList -->

    <div id="idDivEventList" class="col-lg-4">
        <h2><b>Events</b></h2>
        <a style="margin-bottom: 10px;" class="btn btn-primary btn-block">
            <span class="glyphicon glyphicon-plus"></span>
            Add</a>

        <ul class="list-group list-group-scrolling">
            <li ng-repeat="eventItem in eventListItems | orderBy: 'date'"
                class="list-group-item text-center clearfix">
                <span style="font-weight: bold">{{eventItem.name | uppercase}}</span>
                <a href="#/addItem/edit/{{eventItem.id}}" class="btn btn-sm btn-default pull-right">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.idDivEventList -->

    <div id="idDivEventDescription" class="col-lg-4">
        <h2><b>Event Description</b></h2>

    </div>
    <!-- /.idDivEventDescription -->
</div>