<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <!-- <h3><i class="fa fa-book"></i> Topic Management</h3> -->
            <i class="fa fa-book fa-4x"></i>
            <h1 class="page-header">
                Topic <small>: Home</small>
                <!-- <span star-rating rating-value="topic.rating"
				edit-star-rating="false" max="maxRatingValue"></span> -->
            </h1>
            <ol class="breadcrumb">
                <li><a href="">Home/Topic</a></li>
                <li class="active">Home</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">

            <div style="border-radius: 5px;
            border: 2px solid #73AD21;
            padding: 10px;
            margin: 5px;">
                <h2><b>Welcome to Topic Management - Home Page</b></h2>

                <p>Many times we encounter issues in doing assigned tasks. Then we search on Search engine for
                    solution. And most of the time we get answer.</p>
                <p>However after few days, we face similar issue, when again above operation to be performed.
                </p>
                <p>To store topics ,we can use this section to categorize tutorials in
                <ul>
                    <li>Topics</li>
                    <li>Groups</li>
                    <li>Views</li>
                </ul>
                </p>
            </div>


        </div>

        <div class="col-lg-4">
            <div class="well">
                <p>
                    <b>Below are Main Pages</b>
                <ul>
                    <li><a href="#/topics-home"><b> Topic MGMT </b>- Home Page</a>
                    </li>
                    <li><a href="#/topics-list"><b> Topic MGMT </b>- List of Topics-list</a>
                    </li>
                    <li><a href="#/topics"><b> Topic MGMT </b>- Single List Topics</a>
                    </li>

                    <li><a href="#/groups-list"><b> Topic MGMT </b>- List of Groups-list</a>
                    </li>

                    <li><a href="#/views-list"><b> Topic MGMT </b>- List of Views-list</a>
                    </li>

                    <li><a href="#/site-updates"><b> Topic MGMT </b>- Topic Site Updates</a>
                    </li>
                    <li><a href="#/multipleSectionController"><b> Topic MGMT </b>- Multiple Section
                            Controller</a>
                    </li>
                </ul>
                </p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-8">
            <div style="border-radius: 5px;
            border: 2px solid #73AD21;
            padding: 10px;
            margin: 5px;">
                <h2><b>Topics</b></h2>

                <ul>
                    <li>Topics are base building block.</li>
                    <li>[TBD] Topic can be independent. {Alternatively, we can provision for a default view and default
                        group,
                        which
                        will contain all un-categorized topics. A default view and default group must be configurable in
                        DB }
                    </li>
                    <li>[TBD] Topic can be part of a group.</li>
                </ul>

                <br>
                <br>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div style="border-radius: 5px;
            border: 2px solid #73AD21;
            padding: 10px;
            margin: 5px;">
                <h2><b>Groups</b></h2>
                <ul>
                    <li>Groups are middle building block.</li>
                    <li>Group can contain list of sub-group, as well as list of topics.</li>
                    <li>Group must be part of a View.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div style="border-radius: 5px;
            border: 2px solid #73AD21;
            padding: 10px;
            margin: 5px;">
                <h2><b>Views</b></h2>
                <ul>
                    <li>Views are top building block.</li>
                    <li>View can contain list of sub-view, as well as list of groups.</li>
                </ul>
            </div>
        </div>
    </div>

</div>