<div class="container">


	<div class="row" ng-keydown="onKeyDown($event)"
		ng-keyup="onKeyUp($event)" ng-keypress="onKeyPress($event)">

		<div class="col-lg-12">
			<a class="btn btn-xs btn-primary" ng-click="previous()"> <i
				class="fa fa-plus">previous</i>
			</a> <a class="btn btn-xs btn-primary" ng-click="next()"> <i
				class="fa fa-plus">next</i>
			</a>
			
			</a> <a class="btn btn-xs btn-primary" ng-click="reload()"> <i
				class="fa fa-plus">reload</i>
			</a>
			
			 <a class="btn btn-xs btn-primary" ng-if="!timerStarted"
				ng-click="slideShowStart()"><i class="fa fa-plus">Show
					slideshow</i></a> <a class="btn btn-xs btn-primary" ng-if="timerStarted"
				ng-click="slideShowCancel()"><i class="fa fa-plus">Cancel
					slideshow</i></a> <a class="btn btn-xs btn-primary"
				ng-click="showTopicsList()"> <i class="fa fa-plus">Show List</i>
			</a>
		</div>

		<div class="col-lg-4 topicMgmtShowHideAnimation" ng-hide="!showList">

			<!-- ############################## -->
			<h4>Topic Search:</h4>

			<div class="input-group">
				<input type="text" data-ng-model="searchText" class="form-control">
			</div>
			<!-- /input-group -->
			You are typing "{{searchText}}" <br /> Number of filtered items:
			{{filteredItems.length}} <br />
			<p ng-hide="filteredItems.length">There is no result</p>
			
			<input type="checkbox" ng-model="showPersonalQuestions" />Show
							Private Topics</b></th>
			
			<!-- <select ng-model="selectedCategorySelect" ng-options="x.catgoryName for x in categoryList">
				<option value="">select</option>
			</select> -->
			
			<!-- <label for="repeatSelect"> Select Category: </label>
			<select name="repeatSelect" id="repeatSelect" ng-model="selectedCategorySelect">
		      <option ng-repeat="option in categoryList" value="{{option.catId}}">{{option.catgoryName}}</option>
		    </select>
		    
		    <span ng-bind-html="selectedCategorySelect.catgoryName"></span> -->
		    
		    
			
			<!-- <select ng-model="selectedCategorySelect">
			<option ng-repeat="x for x in topicsList" value="{{x.questionName}}">{{x.questionName | limitTo: 10}}</option>
			</select>-->
			
			<!-- {{categoryList|json}} --> 
			
			<!-- ############################## -->

			<!-- <strong>KEY DOWN RESULT:</strong> {{onKeyDownResult}}<br /> <strong>KEY
				UP RESULT:</strong> {{onKeyUpResult}}<br /> <strong>KEY PRESS
				RESULT:</strong> {{onKeyPressResult}} -->

			<!--####################-->
			<table class="friends">
				<tr>
					<th>
						<button class="btn btn-xs btn-primary"
							ng-click="sortBy('questionName')">Title</button> <span
						class="sortorder" ng-show="propertyName === 'questionName'"
						ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary"
							ng-click="sortBy('dateLastModified')">Last Modified</button> <span
						class="sortorder" ng-show="propertyName === 'dateLastModified'"
						ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary"
							ng-click="sortBy('dateCreated')">Creation Date</button> <span
						class="sortorder" ng-show="propertyName === 'dateCreated'"
						ng-class="{reverse: reverse}"></span>
					</th>

					<th>
						<button class="btn btn-xs btn-primary"
							ng-click="sortBy('categoryId')">Category Id</button> <span
						class="sortorder" ng-show="propertyName === 'categoryId'"
						ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary" ng-click="sortBy('rating')">Rating</button>
						<span class="sortorder" ng-show="propertyName === 'rating'"
						ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary"
							ng-click="sortBy('dateLastRead')">Last Read Date</button> <span
						class="sortorder" ng-show="propertyName === 'dateLastRead'"
						ng-class="{reverse: reverse}"></span>
					</th>
				</tr>

			</table>
			<!--####################-->

			<div
				data-ng-repeat="topic in ( filteredItems =(topicsList | filter:searchText |filter:filterPrivateQuestions |orderBy:propertyName:reverse))">
				<!-- <div class="row resultsDisplay"> -->
				<div class="row">
					<div class="row">
						<span ng-class="{selectedTopicRow: topic.id === idSelectedVote}">
							<a data-ng-click="showAt($index)"> 
							<span ng-bind-html="topic.questionName"/>
								</a> 
						</span>
					</div>
					
				</div>
			</div>
		</div>


		<div id="topicDetailsDiv" class="col-lg-8">


			<h1 class="page-header">
				Topic <small>: [{{counterrr}}] <span
					ng-bind-html="topic.questionName" />
				</small>
			</h1>

			<p>
				<i class="fa fa-clock-o"></i> Last Modified on <b> <span
					ng-bind="topic.dateLastModified | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
				</b>
			</p>
			<p>
				<i class="fa fa-clock-o"></i> Created on <b> <span
					ng-bind="topic.dateCreated | date:'MMM/dd/yyyy hh:mm:ss a'"></span>
				</b>
			</p>

			<p>
				<a class="btn btn-xs btn-primary"
					href="#/categories/{{topic.categoryId}}/questions/{{topic.questionId}}">Modify
					<i class="fa fa-angle-right"></i>
				</a>
				
				<a class="btn btn-xs btn-primary" ng-click="saveTopicReads(topic.categoryId,topic.questionId)">Mark as Read today
					<i class="fa fa-angle-right"></i>
				</a>
				
				<a class="btn btn-xs btn-primary" ng-click="makeTopicPrivate(topic.categoryId,topic.questionId)">Make Private
					<i class="fa fa-angle-right"></i>
				</a>
				
				<i class="fa fa-clock-o"></i> Last Read on <b><span ng-bind="topicsReads.topic.dateLastRead | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b> 
			Total Reads :- {{topicsReads.count}}
				
			</p>

			<hr>


			<div class="resultsDisplay">
				Category : <span ng-bind-html="topic.categoryName"></span> <br />
				Question : <span ng-bind-html="topic.questionName"></span> <br />

				<div data-ng-repeat="answ in topic.answers">
					Answer :[{{$index + 1}}] <span star-rating
						rating-value="answ.rating" edit-star-rating="false"
						max="maxRatingValue"></span> <span ng-bind-html="answ.answer"></span>

				</div>


			</div>




			<hr>
		</div>


	</div>


</div>