<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Category <small>: {{retrievedCategory.title}}</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="#/categories-list">HOME/CATEGORIES > </a></li>
				<li class="active">CURRENT CATEGORY</li>
			</ol>
		</div>
	</div>



	<div class="row">
		<div class="well col-lg-8">
			<hr />
			<!-- <h2> -->
			Category : <span star-rating rating-value="retrievedCategory.rating" edit-star-rating="false"
				max="maxRatingValue"></span> <span ng-bind-html="retrievedCategory.catgoryName"></span>
			<!-- </h2> -->

			<div ng-show="!showEditCategorySection && !showAddQuestionSection">
				<a class="btn btn-xs btn-primary" ng-click="showEditCategory()" ng-if="true">Edit</a> <a
					class="btn btn-xs btn-primary" ng-click="alert('not implemented yet')" ng-if="true">Delete</a> <a
					class="btn btn-xs btn-primary" ng-click="showAddQuestion()" ng-if="true">Add Questions</a>
			</div>

			<div ng-show="showEditCategorySection">
				<trix-editor angular-trix ng-model="updateCategoryObj.catgoryName" ng-show="showEditCategorySection">
				</trix-editor>
				<div star-rating rating-value="updateCategoryObj.rating" edit-star-rating="true" max="maxRatingValue"
					on-rating-selected="getSelectedRating(rating)"></div>
				<a class="btn btn-xs btn-primary" ng-click="editCategory()" ng-if="showEditCategorySection">Save</a> <a
					class="btn btn-xs btn-primary" ng-click="hideEditCategory()"
					ng-if="showEditCategorySection">Cancel</a>
			</div>

			<div ng-show="showAddQuestionSection">
				<trix-editor angular-trix ng-model="questionObj.question" ng-show="showAddQuestionSection">
				</trix-editor>
				<div star-rating rating-value="questionObj.rating" edit-star-rating="true" max="maxRatingValue"
					on-rating-selected="getSelectedRating(rating)"></div>
				<a class="btn btn-xs btn-primary" ng-click="saveQuestion()" ng-if="showAddQuestionSection">Save</a> <a
					class="btn btn-xs btn-primary" ng-click="hideAddQuestion()"
					ng-if="showAddQuestionSection">Cancel</a>
			</div>

			<hr />

			<h4>Question Search:</h4>

			<div class="input-group">
				<input type="text" data-ng-model="searchText" class="form-control">
			</div>
			<!-- /input-group -->
			You are typing "{{searchText}}" <br /> Number of filtered items:
			{{filteredItems.length}} <br />
			<p ng-hide="filteredItems.length">There is no result</p>

		</div>
	</div>


	<div class="row">
		<div class="col-lg-8">
			<!--####################-->
			<table class="friends">
				<tr>
					<th>
						<button class="btn btn-xs btn-primary" ng-click="sortBy('catgoryName')">Title</button> <span
							class="sortorder" ng-show="propertyName === 'catgoryName'"
							ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary" ng-click="sortBy('dateLastModified')">Last
							Modified</button> <span class="sortorder" ng-show="propertyName === 'dateLastModified'"
							ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary" ng-click="sortBy('dateCreated')">Creation Date</button>
						<span class="sortorder" ng-show="propertyName === 'dateCreated'"
							ng-class="{reverse: reverse}"></span>
					</th>
					<th>
						<button class="btn btn-xs btn-primary" ng-click="sortBy('rating')">Rating</button>
						<span class="sortorder" ng-show="propertyName === 'rating'"
							ng-class="{reverse: reverse}"></span>
					</th>
					<th><b><input type="checkbox" ng-model="showPrivateTopics" />Show
							Private Topics</b></th>
					<th><b><input type="checkbox" ng-model="showCategoryQuestionAnswers" />Show Answers</b></th>
					<!-- <th ng-show="showCategoryQuestions"><b><input
							type="checkbox" ng-model="showCategoryQuestionAnswers" />Show
							Answers</b></th> -->

				</tr>

			</table>
			<!--####################-->


			<div class="row">

				<div class="col-md-12 questionsDisplay"
					data-ng-repeat="ques in (filteredItems=(retrievedCategory.questions|filter:searchText |filter:filterPrivateTopics |orderBy:propertyName:reverse) )">
					<h3>
						Question :[{{$index + 1}}] <span star-rating rating-value="ques.rating"
							max="maxRatingValue"></span>


						<!-- ques.dateLastRead{{ques}} -->
						<i class="fa fa-clock-o"></i>
						Last Read on <b><span ng-bind="ques.dateLastRead | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
						Total Reads <b><span>{{ques.totalRead}}</span></b>

						<font color="red">
							<span ng-bind-html="ques.question"></span>
						</font>
					</h3>

					<a class="btn btn-xs btn-primary"
						href="#/categories/{{ques.linkedCatID}}/questions/{{ques.questionID}}" ng-if="true">Show
						Details</a>


					<a class="btn btn-xs btn-primary" ng-click="showEditQuestion()" ng-if="true">Edit</a>

					<a class="btn btn-xs btn-primary" ng-click="alert('not implemented yet')" ng-if="true">Delete</a>

					<a class="btn btn-xs btn-primary" ng-click="showAddAnswer()" ng-if="true">Add Answers</a>


					<!-- <a class="btn btn-xs btn-primary"
					ng-click="alert('not implemented yet')"
					ng-if="true">Edit</a>
				<a class="btn btn-xs btn-primary"
					ng-click="alert('not implemented yet')"
					ng-if="true">Delete</a> -->

					<div class="row" ng-show="showCategoryQuestionAnswers">
						<div class="col-md-1">

						</div>
						<div class="col-md-11 answersDisplay" data-ng-repeat="answ in ques.answers">
							<h4>
								Answer :[{{$index + 1}}] <span star-rating rating-value="answ.rating"
									max="maxRatingValue"></span> <span ng-bind-html="answ.answer"></span>
							</h4>

							<a class="btn btn-xs btn-primary"
								href="#/categories/{{answ.linkedCatID}}/questions/{{answ.linkedQuesID}}/answers/{{answ.ansID}}"
								ng-if="true">Show Details</a>


							<!-- <a class="btn btn-xs btn-primary"
							ng-click="alert('not implemented yet')"
							ng-if="true">Edit</a>
						<a class="btn btn-xs btn-primary"
							ng-click="alert('not implemented yet')"
							ng-if="true">Delete</a> -->
						</div>
					</div>

				</div>

			</div>


		</div>
		<!--End Column col-lg-8-->

		<div class="col-lg-4">

			<div class="well">
				<h4>Brief description for retrievedCategory</h4>
				<p>One brief description of all topics should come here.</p>
			</div>
			<!-- /well -->

			<div class="well">
				<p>
					<i class="fa fa-clock-o"></i> Last Modified on <b><span
							ng-bind="retrievedCategory.dateLastModified | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
				</p>
				<p>
					<i class="fa fa-clock-o"></i> Created on <b><span
							ng-bind="retrievedCategory.dateCreated | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
				</p>
				<a class="btn btn-xs btn-primary" href="#/topics/{{retrievedCategory.id}}">Modify <i
						class="fa fa-angle-right"></i>
				</a> <a class="btn btn-xs btn-primary" href="#/topics-list">Back to
					list <i class="fa fa-angle-right"></i>
				</a>
			</div>
			<!-- /well -->

			<div class="well">
				<h4>
					Related Groups
					<!-- <button class="lalChaukor">+</button> -->
					<a class="btn btn-xs btn-primary" ng-click="fetchGroupList()"><i class="fa fa-plus">Add</i></a>
				</h4>

				<div ng-repeat="group in (filteredGroupItems=(groupsList| filter:filterAlreadyAddedGroup))">
					<input type='checkbox' value="{{group}}" check-list="checked_groups"> {{group.title}}
					&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<a class="btn btn-xs btn-primary" ng-click="saveTopicGroupRelationList()"
					ng-if="filteredGroupItems.length>0">Save</a> <a class="btn btn-xs btn-primary"
					ng-click="resetGroupsAndShowTopicGroupRelations()" ng-if="filteredGroupItems.length>0">Cancel</a>
				<!-- {{checked_groups}} -->

				<div ng-repeat="topicGroupsRelation in topicGroupsRelationList">
					<a href="#/groups-list/{{topicGroupsRelation.groups.id}}">{{topicGroupsRelation.groups.title}}</a>
					<a class="btn btn-xs btn-primary" href="#">Remove<i class="fa fa-minus"></i></a>
				</div>
			</div>
			<!-- /well -->

			<div class="well">
				<!-- Related Views lists comes from all Views which are part of groups to which current Topic is associated with. -->
				<h4>Related Views</h4>
				<br /> <a href="">view 1</a> <br /> <a href="">view 2</a>
			</div>
			<!-- /well -->

			<div class="well">
				<!-- Related Topics lists comes from all Topics which are part of groups to which current Topic is associated with. -->
				<h4>Related Topics</h4>
				<br /> <a href="">retrievedCategory 1</a> <br /> <a href="">retrievedCategory
					2</a>
			</div>
			<!-- /well -->

		</div>
		<!--End Column col-lg-4-->
	</div>
	<!--End Row-->

</div>