<input type="button" value="ExportResume" ng-click="Export()" />
<br> <a href="#/my-projects-details">Services</a>

<div id="id-premendra-kumar-resume" class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i class="fa fa-calendar-check-o"></i> Premendra Kumar</h3>
                        <div class="row">
                            <div class="col-lg-6 pull-left text-left">
                                <p>
                                    Sec 55 <br> Faridabad, Haryana-121004 <br> Mobile : +91-8010645624, +91-8750084750
                                </p>

                            </div>
                            <div class="col-lg-6 pull-right text-right">
                                <p>
                                    Premendra.bce05515@gmail.com <br> Premendra.bce05515@outlook.com
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="panel-body">
                        <h2><b>About Me</b></h2>
                        <div class="resume-experience">
                            <p>Hi</p>
                            <p>I am Premendra Kumar having more than 11.5+ years of experience in Development with various technologies ( Java/J2EE, Spring Boot, Hibernate and related frameworks). Also a good 2.5 years' work experience of AWS DevOps services
                                for Continuous Deployment and Continuous Integration. Having good exposure for various latest frontend technologies , e.g ReactJS, Angular and AngularJS.</p>

                            <p>During my tenure, I have worked in 8+ projects with companies (Indiabulls Securites Ltd, Concentrix, HCL Infosystems, Accenture) with different frontend and backend technologies from mentioned above set.</p>

                            <p>In my free time I prefer to spend time with family, read about new technologies, visit places near by Delhi/NCR.</p>

                            <p>Natively I am from East Champaran, Bihar and currently residing here in Faridabad with mother father and lovely spouse.</p>


                        </div>
                    </div>

                    <div class="panel-body">


                        <div class="well">
                            <h2><b>Experience : </b></h2>

                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Senior Software Developer (M3) , <br>
                                    Mynd Solutions Pvt Ltd</b>
                                </p>
                                <p><b>Sep 2019 to Jan 2021</b></p>
                                <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS, BootStrap.
                                </p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                        <li>Added code for new requirements.</li>
                                        <li>Fixed bugs identified by support team</li>
                                        <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>
                                        <li>Did Jenkins configuration for continuous deployment</li>
                                    </ul>
                                </p>
                            </div>

                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Senior Software engineer , <br>
                                        Indiabulls Securities Ltd (formerly Indiabulls Ventures Ltd)</b>
                                </p>
                                <p><b>Sep 2019 to Jan 2021</b></p>
                                <p>Current major responsibility for Development in “ShubhWeb” application. Technologies used are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, ReactJS, BootStrap.
                                </p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Notis API , KRA, SFTP projects. These are Inhouse applications.</li>
                                        <li>Added code for new requirements.</li>
                                        <li>Fixed bugs identified by support team</li>
                                        <li>Migrated code from SVN to GITLab Server (Hosted in company premises)</li>
                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>
                                        <li>Did Jenkins configuration for continuous deployment</li>
                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Assistant Manager , <br>
                                        IT applications, Concentrix</b>
                                </p>
                                <p><b>Nov 2017 to Sep 2019</b></p>
                                <p>Current major responsibility for Development in “Global Incentive Program(GIP)” application. Technologies used are Java/J2EE, Spring Boot, Hibernate, MySQL, AngularJS, BootStrap
                                </p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Gain Manager and Resolve Jiffy. (Worked as L2/L3 support Engineer with software development Team). These are Inhouse applications.</li>
                                        <li>Provided L2/L3 level support to GM and RJ application.</li>
                                        <li>Updated and create incident management tickets in the ticket tracking application
                                        </li>
                                        <li>Identified defects within GM and RJ application</li>
                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>
                                        <li>Create, monitor and update defects in Jira</li>
                                        <li>Wrote and executed SQL queries for reporting and research purposes.</li>
                                        <li>Provided support for the successful deployment of multiple iterations of the GM and RJ application</li>
                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Senior Software Engineer, <br>
                                        Accenture </b></p>
                                <p><b>Mar 2017 to July 2017</b></p>
                                <p>Current major responsibility for Development in ZVR4 application. Technologies used are Java/J2EE, Spring Boot,Spring Batch,Spring REST, Hibernate, Oracle 12g, AngularJS, BootStrap.
                                </p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Worked on Data Migration project with Talend tool and java API (Spring Batch, multithreading) for project ZVR4.</li>
                                        <li>Worked to write Java code to parallel process the blob data of table of legacy database and save to target database. </li>
                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Assistant Manager, <br>
                                        Concentrix India</b></p>
                                <p><b>Jan 2015 to Mar 2017</b></p>
                                <p>Worked as L2/L3 support Engineer with the software development Team of Zetta application using Java, J2ee, AngularJS, REST, and Hibernate. The application is hosted on AWS cloud and uses various AWS cloud services.</p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Worked as DevOps engineer to configure Zetta application environments on AWS cloud using Jenkins, JIRA, AWS, BitBucket, Chef scripts. In short DevOps is a process to achieve continuous delivery via automated testing,
                                            continuous integration and continuous deployment.</li>
                                        <li>Provided L2/L3 level support to Zetta application.</li>
                                        <li>Updated and create incident management tickets in the ticket tracking application
                                        </li>
                                        <li>Identified defects within Zetta application</li>
                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>
                                        <li>Create, monitor and update defects in Jira</li>
                                        <li>Installed applications in AWS environment using Jenkins, and AWS Cloudformation
                                        </li>
                                        <li>Wrote and executed SQL queries for reporting and research purposes.</li>
                                        <li>Provided support for the successful deployment of multiple iterations of the Zetta application
                                        </li>
                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Software Developer (L2/L3), <br>
                                        Concentrix India (Payroll COMPANY: WDC)</b></p>
                                <p><b>Jan 2014 to Dec 2014</b></p>
                                <p>Worked as L2/L3 support Engineer contractual employee from WDC, deployed in Concentrix India.
                                </p>
                                <p>Worked with the software development team of WebDOTS 4.1, QAA using Java, J2EE, Hibernate, JSF, and Struts2. This application runs on IBM WebSphere 8.</p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Worked as L2/L3 support Engineer contractual employee from WDC, deployed in Concentrix India.</li>
                                        <li>Worked with the software development team of WebDOTS 4.1, QAA using Java, J2EE, Hibernate, JSF, and Struts2. This application runs on IBM WebSphere 8.</li>
                                        <li>Provided L2/L3 level support to WebDOTS 4.1, QAA application.</li>
                                        <li>Updated and create incident management tickets in the ticket tracking application
                                        </li>
                                        <li>Identified defects within WebDOTS 4.1, QAA application</li>
                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>
                                        <li>Communicated to users via mail, tickets and discussed with the implementation team for defects logged by users.</li>
                                        <li>Wrote and executed SQL queries for reporting and research purposes.</li>
                                        <li>Provided support for the successful deployment of multiple iterations of the WebDOTS 4.1, QAA application.</li>
                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Application developer, <br>
                                        Novelvox Software India Pvt Ltd <br>
                                        {previously known as <i>Integration Services & Technologies India PVT LTD</i>
                                        }</b></p>
                                <p><b>May 2012 to Dec 2013</b></p>
                                <p>Current major responsibility for Development in "iAgent" application. Technologies used are Java, J2ee, JDBC, Apache Solr, Hibernate, for backend service development Adobe Flex 4.1, CSS, JavaScript for view code generation.</p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Worked with the Software development team for iAgent web application. </li>
                                        <li>worked on development of service generation module</li>
                                        <li>worked on development of service invocation module</li>
                                        <li>Fixed bugs identified by support team</li>
                                        <li>created views using using Flex4, CSS, JavaScript</li>
                                        <li>Technologies used:- <br> Java, J2ee, JDBC, Apache Solr, Hibernate, for backend service development Adobe Flex 4.1, CSS, JavaScript for view code generation The application deployed on Apache Tomcat.</li>

                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>

                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Software Developer, <br>
                                        HCL Infosystems Ltd</b></p>
                                <p><b>March 2011 to May 2012</b></p>
                                <p>Current major responsibility for Development in "iAgent" application. Technologies used are Java, J2ee, JDBC, Apache Solr, Hibernate, for backend service development Adobe Flex 4.1, CSS, JavaScript for view code generation.</p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <li>Worked as contractual employee from HCL Infosystems LTD, deployed in NIC </li>
                                        <li>Worked with the Software development team for CIPA (Common Integrated Police Application), up gradation as CIPRUS for state specific requirements.</li>
                                        <li>The Common Integrated Police Application (CIPA) is a multilingual application to automate the processes (workflow) at primary sources of data itself e.g. Police Station and to build a crime & criminal Information
                                            system based on CrPC. It provides an efficient way of organizing crime records for generating queries/reports and crime analysis for decision support. F</li>
                                        <li>Fixed bugs identified by support team</li>
                                        <li>created views using using Swing, CSS</li>
                                        <li>Technologies used:- <br> The CIPA Software developed in JAVA, Swings, JDBC and implemented under open source environment viz. Linux (OS), PostgreSQL (RDBMS).
                                        </li>

                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>

                                    </ul>
                                </p>
                            </div>


                            <div class="resume-experience">
                                <p><b style="text-transform: uppercase">Software Developer, <br>
                                        GreenApple WebWare</b></p>
                                <p><b>September 2009 to February 2011</b></p>
                                <p>Current major responsibility for Development in <b>"Online Shopping Cart
                                        Application"</b> application. Technologies used are java, JSP, Servlets, JDBC, Apache tomcat 5, HTML, CSS, jQuery, AJAX</p>
                                <p>
                                    Current Role and Responsibilities
                                    <ul>
                                        <!-- <li>Worked as contractual employee from HCL Infosystems LTD, deployed in NIC </li>
                                <li>Worked with the Software development team for CIPA (Common Integrated Police
                                    Application), up gradation as CIPRUS for state specific requirements.</li> -->
                                        <!-- <li>The Common Integrated Police Application (CIPA) is a multilingual application to
                                    automate the processes (workflow) at primary sources of data itself e.g. Police
                                    Station and to build a crime & criminal Information system based on CrPC. It
                                    provides an efficient way of organizing crime records for generating queries/reports -->
                                        <!-- and crime analysis for decision support. F</li> -->
                                        <li>Fixed bugs identified by support team</li>
                                        <li>created views using using HTML, CSS, jQuery, AJAX</li>
                                        <li>Technologies used:- <br> java, JSP, Servlets, JDBC, Apache tomcat 5, HTML, CSS, jQuery, AJAX</li>

                                        <li>Worked with the vendor and project management team on a code change and new fix in upcoming Release. This resulted in increased efficiency in batch processing with no errors or transmissions missed and thus reduced
                                            the number of incidents.</li>

                                    </ul>
                                </p>
                            </div>

                        </div>
                        <!-- /.well -->

                        <hr>

                        <div class="well">
                            <h2><b>Education : </b></h2>

                            <div class="resume-experience">
                                <p>
                                    <ul>
                                        <li>
                                            BCE Bhagalpur, Bhagalpur, Bihar
                                            <ul>
                                                <li>
                                                    B. Tech in Computer Science & Engineering (2005-2009) with 72.31% aggregate from Bihar’s renowned Government institution
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Munshi singh college, Motihari, bihar
                                            <ul>
                                                <li>Intermediate in Science(Mathematics)From B.I.E.C. Patna, in 2004</li>
                                            </ul>
                                        </li>
                                        <li>
                                            Gopal sah vidyalaya, motihari, bihar
                                            <ul>
                                                <li>Matriculation from B.S.E.B. Patna, in 2002</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </p>
                            </div>

                        </div>
                        <!-- /.well -->

                        <hr>
                        <div class="well">
                            <h2><b>VOCATIONAL TRAINING : </b></h2>
                            <div class="resume-experience">
                                <p>From B.S.N.L BHAGALPUR on training subject E-10B, OCB (TAX), & MOBILE COMMUNICATION (AN OVERVIEW OF GSM TECHNOLOGY)</p>
                            </div>

                        </div>
                        <!-- /.well -->

                        <hr>
                        <div class="well">
                            <h2><b>Leadership : </b></h2>

                            <div class="resume-experience">
                                <ul>
                                    Worked with different team within organization for different purposes like
                                    <li>establishing VPC connections, </li>
                                    <li>deployment of application.</li>
                                    <li>Requirement clarification/understanding from users along with BA and Project Lead.
                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!-- /.well -->

                        <hr>
                        <div class="well">

                            <h2><b>References : </b></h2>
                            <div class="resume-experience">
                                <p>On Basis of Request</p>
                            </div>
                        </div>
                        <!-- /.well -->


                    </div>
                </div>
                <!-- /.panel panel-default -->
            </div>
            <!-- /.col-lg-4 col-md-4 -->
        </div>
    </div>
</div>