<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Global Settings <small>:</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Global Settings</a></li>
				<li class="active">Global Settings</li>
			</ol>
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<h4>wordMeaningDbBackupSettings :</h4>
			<div class="input-group">
				<div class="row">
					<b>Page Size : </b><input type="text" data-ng-model="pageFormData.wordMeaningDbBackupSettings.pagedData.pageSize" class="form-control"/>
				</div>
				
				<div class="row">
					<a class="btn btn-xs btn-primary" ng-click="savePageSize(pageFormData.wordMeaningDbBackupSettings.pagedData.pageSize)">
						Save<i class="fa fa-angle-right"></i>
					</a>
				</div>
				
			</div>
		
		</div>
	</div>
	
	<div class="row">
		<div class="well col-lg-12">
			<h4>Import/Export Settings :</h4>
			
			<h4>Import/Export Settings :</h4>
			<div class="input-group">
				<div class="row">
					<b>Page Size : </b><input type="text" data-ng-model="pageFormData.wordMeaningDbBackupSettings.pagedData.pageSize" class="form-control"/>
				</div>
				
				<div class="row">
					<a class="btn btn-xs btn-primary" ng-click="savePageSize(pageFormData.wordMeaningDbBackupSettings.pagedData.pageSize)">
						Save<i class="fa fa-angle-right"></i>
					</a>
				</div>
				
			</div>
		
		</div>
	</div>
	
</div>