<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				Link <small>: New</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Link</a></li>
				<li class="active">New</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<h3>Create New Link</h3>
		</div>
		
		<div class="col-lg-12">
			<b>URL :</b>
		</div>
		<!-- /.col-lg-12 -->

		<div class="col-lg-12">
			<input type="text" ng-model="linkObj.url" />
		</div>
		<!-- /.col-lg-12 -->
		
		<div class="col-lg-12">
			<b>Description :</b>
		</div>
		<!-- /.col-lg-12 -->

		<div class="col-lg-12">
			<trix-editor angular-trix ng-model="linkObj.linkDescription"></trix-editor>
		</div>
		<!-- /.col-lg-12 -->
		
		
		<div class="col-lg-12">
			<a class="btn btn-xs btn-primary" ng-click="saveLinkObj()">Save
				<i class="fa fa-angle-right"></i>
			</a> <a class="btn btn-xs btn-primary" href="#/links">Back to
				list<i class="fa fa-angle-right"></i>
			</a>
		</div>
		
	</div>
	<!-- /.row -->

	<div confirm-on-exit="isDirty()"
		confirm-message-window="All your changes will be lost."
		confirm-message-route="All your changes will be lost. Are you sure you want to do this?">
	</div>
</div>