<!-- <div ng-controller="repeatController"> -->
<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<i class="fa fa-file-text fa-4x"></i>
			<h1 class="page-header">
				All Links <small>: A Brief overview</small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="">Home/Link</a></li>
				<li class="active">All Links</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-lg-12">
			<a class="btn btn-xs btn-primary" href="#/links/link">Create Link
			</a>
			
			<a class="btn btn-xs btn-primary" href="#/links/group">Create Group
			</a>
		</div>
		<div class="col-lg-12">
			<h3>All Links</h3>
		</div>

	</div>
	<!-- /.row -->

	<div class="row">
		<div class="col-sm-12 col-md-12">

			Following {{friends.length}} links are registered. They are: <input
				type="search" ng-model="q" placeholder="filter links..."
				aria-label="filter friends" />
			<ul class="example-animate-container">


				<li class="animate-repeat" ng-repeat="lg in LinksList">
					<div class="row">
						<div class="col-md-12 link-block">
							<span>[{{$index + 1}}] : <a href="{{lg.url}}">{{lg.url}}</a><br />
							</span> <span class="col-md-12" ng-bind-html="lg.linkDescription">
							</span><br />
							<p>
								<i class="fa fa-clock-o"></i> Last Modified on <b><span
									ng-bind="lg.lastModified | date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
							</p>

							<p>
								<i class="fa fa-clock-o"></i> Created on <b><span
									ng-bind="lg.createdDate| date:'MMM/dd/yyyy hh:mm:ss a'"></span></b>
							</p>
							<a class="btn btn-xs btn-primary" href="#/links/{{lg._id}}">Edit
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>

				</li>

				<!-- <li class="animate-repeat">{{LinksList}}</li> -->

			</ul>
		</div>
	</div>
</div>